.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    width: 530px;
}
button.btn.btn-default {
    float: right;
    margin-right: 0px;
}

