h4.Shopbybrand{
    color: black;
    float: left;
}
.pager .next>a, .pager .next>span {
    float: right;
    border: 1px solid #ddd;
}
.pager .previous>a, .pager .previous>span {
    float: left;
    border: 0px solid;
}
.pager {
    padding-left: 0;
    margin: 25px 0;
    text-align: center;
    list-style: none;
    margin-bottom: 0px;
}
img.imagepart2.img-responsive:hover {
    opacity: 1;
  }
  img.imagepart2.img-responsive{
    opacity: .6;
    transition: opacity .3s ease;
  }
div.part2.row{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
div.part2.container{
    margin-top: 15px;
}