.product-detail{
    width: 450px;
}

.des-name  .list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.detail-des li:first-child {
    border-bottom: 0px;
}
.detail-des li:last-child {
    border-bottom: 0px;
}
.detail-des li {
    border-left: 0px;
    border-right: 0px;
}
.des-price .list-group-item-heading {
    color: brown;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-detail {
    width: 470px;
    margin-top:120px;
}
.product-detail-edit{
    margin-left: 10px;
    margin-right: 5px;
}
.container {
    width: 919px;
    margin-top: 20px;
}
.panel-body {
    padding: 0px;
    margin: auto;
}
button.btn.btn-default {
    float: right;
    margin-right: -50px;
}
div.page-panel.product-detail.panel.panel-primary{
    margin: auto;
    margin-top: 120px;
}
.form-control {
    display: block;
    width: 440px;
    margin-left: 0px;
}
div.productshow.container{
    margin-top:170px;
}
div.form-group {
    margin: auto;
    margin-bottom: 20px;
    margin-left: 20px;
}
button.Buynow.btn.btn-default{
        padding: 7px 12px;
        color: #fff;
        background-color: #486077;
        border-color: #ccc;
        margin-right: 8px;
        width: 120px;
}
button.Addtocard.btn.btn-default{
padding: 7px 12px;
font-weight: 600;
width: 200px;
}
 a.tools{
    color: rgb(182, 182, 182);
}
a.catalog{
    color: black;
}
span.style {
    font-size: 14px;
    font-weight: 500;
}